[submodule "copycat"]
	path = copycat
	url = ./copycat
[submodule "PySeqsee"]
	path = PySeqsee
	url = ./PySeqsee
[submodule "synergy"]
	path = synergy
	url = ./synergy
[submodule "Metacat"]
	path = Metacat
	url = ./Metacat
